{% extends 'base.html' %}
{% block content %}
    <div class="container overflow-hidden">
        <div class="row text-center">
            {% for photo in object_list %}
                <div class="col-8 col-xl-3 text-center certificate-box">
                    <p>
                        <img src="../media/{{ photo.photo }}" alt="">
                    </p>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
    </div>

{% endblock %}