{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <form action="{% url 'details' pk=certificate.pk %}" method="post">
            <div class="cer-details text-center">
                <img class="responsive" src="{{ certificate.photo.url }}" alt="">
            </div>
            <div class="details-btn text-center" >
                <a href="{% url 'certificates' %}">
                    <img src="{% static 'images/close-logo.png' %}" alt="">
                </a>
            </div>
        </form>
    </div>
{% endblock %}