{% extends 'base.html' %}
{% block content %}
    <div class="container img-con text-center">
        <div class="row knw-content">
            <h1 class="title text-center">Python Taken Courses</h1>
            <div class="col">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Skills</h4>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>OOP, Django, Rest, JSON, PostgreSQL,
                                <br>SQLite, HTML, CSS, Bootstrap</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Python Basics</h4>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>First steps in codding</li>
                            <li>Conditional Statements</li>
                            <li>Complex Conditional Statements</li>
                            <li>Loops</li>
                            <li>Nested Loops</li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4">
                        <h4>Python Fundamentals</h4>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Basic Syntax, Conditional Statements and
                                <br>Loops</li>
                            <li>Data Types and Variables</li>
                            <li>Lists Basics</li>
                            <li>Functions</li>
                            <li>Lists Advanced</li>
                            <li>Dictionaries</li>
                            <li>Text Processing</li>
                            <li>Regular Expressions</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Python Advanced</h4>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Lists as Stacks and Queues</li>
                            <li>Tuples and Sets</li>
                            <li>Multidimensional Lists</li>
                            <li>Functions Advanced</li>
                            <li>Error Handling</li>
                            <li>File Handling</li>
                            <li>Modules</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Python OOP</h4>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Class and Objects</li>
                            <li>Inheritance</li>
                            <li>Encapsulation</li>
                            <li>Static and Class Methods</li>
                            <li>Polymorphism and Abstraction</li>
                            <li>SOLID</li>
                            <li>Iterators and Generators</li>
                            <li>Decorators</li>
                            <li>Testing</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Python WEB</h4>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Internet and HTTP</li>
                            <li>PostgreSQL Introduction</li>
                            <li>URLs and Views</li>
                            <li>Django Templates</li>
                            <li>Django Models</li>
                            <li>Django Forms</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Python WEB</h4>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Class-Based Views</li>
                            <li>Authentication and Authorization</li>
                            <li>User and Password Management</li>
                            <li>Unit and Integrated Testing</li>
                            <li>Deployment</li>
                            <li>Django REST Framework</li>
                            <li>Exception Handling</li>
                            <li>Asynchronous Tasks with Django</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}